@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">

    <div style="width:80%;margin:0 auto;">
        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            <div id="issuename-div">
                <label style="width:33%;">Issue Name</label>
                <input type="text" id="issuename" name="issuename" style="width:50%;" />
            </div>
            <div id="description-div">
                <label style="width:33%;">Description</label>
                <textarea id="description" name="description" style="width:50%;" rows="3" ></textarea>
            </div>
            <div id="solution-div">
                <label style="width:33%;">Solution</label>
                <textarea id="solution" name="solution" style="width:50%;" rows="3" ></textarea>
            </div>
            <div id="comments-div">
                <label style="width:33%;">Comments</label>
                <textarea id="comments" name="comments" style="width:50%;" rows="3" ></textarea>
            </div>
            <div id="submit-div">
                <label style="width:33%;"></label>
                <input type="submit" value="Submit" style="background-color: cornflowerblue; color: white;" />
            </div>

        }
    </div>
</div>