@using CheckMarxSolution.Models
@model ItemModel

<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#search_issue').autocomplete({
            source: '@Url.Action("GetSearch")'
        })
    });
</script>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div style="width:80%;margin:0 auto;">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <label style="width:33%;">Search Issue</label>
            <input type="text" id="search_issue" name="search_issue" style="width:33%;height:50px;" />
            <input type="submit" value="Search" style="margin-left:20px;" />
        }
    </div>
    @if (Model != null)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1" width="100%" style="text-align:center;">
            <tr>
                <td>Search Issue</td>
                <td>Description</td>
                <td>Solution</td>
            </tr>
            <tr>
                <td>@Model.SearchIssue</td>
                <td>@Model.Description</td>
                <td>@Model.Solution</td>
            </tr>
        </table>
    }
</div>
